@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import "./reset.css";

*,::before,::after {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a {
    display: flex;
    justify-content: center;
    color: initial;
    text-decoration: none;
}

/* Header start */

header {
    padding: 0 80px;
}

.headerTop {
    display: flex;
    justify-content: space-between;
}

.headerTop img {
    height: 55px;
    margin : 50px 0 0 15px
}

.headerTop ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 30px;
}

.headerTop li {
    margin-left: 50px;
    cursor: pointer;
    height: 100%;
    padding: 60px 30px 0 30px;
}

.headerTop li:hover {
    border-top: 2px solid #0065FC;
    padding-top: 58px;
}

.headerTop li:hover a {
    color: #0065FC;    
}

.headerBot h1 {
    font-weight: 800;
    font-size:26px;
    margin: 50px 0 16px 0;
}

.headerBot_search {
    display: flex;
    margin: 30px 0 20px 0;
    height: 65px;
    border-radius: 17px;
    overflow: hidden;
}

.headerBot_search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;
    background: #f2f2f2;
}

.headerBot_search_icon_icon {
    height: 22px;
}

#searchInput {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: initial;
    border-right: initial;
    width: 320px;
    color: black;
    font-size: 24px;
    font-weight: 600;
    padding-left: 18px;
}

#searchInput::placeholder {
    color: black;   
}

#searchInput::-moz-placeholder {
    color: black;
     opacity: 1;
}

.headerBot_search_btn {
    background: #0065FC;
    border: initial;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 0 23px;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
}

.headerBot_search_btn_img {
    height: 25px;
    width: 25px;
    display: none;
}

.headerBot_filter {
    display: flex;
    margin: 40px 0 55px 0;
    user-select: none;
}

.headerBot_filter_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 55px;
    white-space: nowrap;
    margin-right: 45px;
}

.headerBot_filter_cont {
    display: flex;
}

.headerBot_filter_cont_top, .headerBot_filter_cont_bot{
    display: flex;
}

.headerBot_filter_cont_filterCont {
    display: flex;
    height: 55px;
    margin-right: 30px;
    cursor: pointer;
}

.headerBot_filter_cont_filterCont:hover .headerBot_filter_fiterLogo_logo {
    transform: scale(1.4) rotate(10deg);
    transition: transform 400ms ease-in-out;
}

.headerBot_filter_fiterLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    border-radius: 55px;
    width: 55px;
}

.headerBot_filter_cont_filterCont_title {
    line-height: 50px;
    white-space: nowrap;
    border-top: #DEEBFF 2px solid;
    border-bottom: #DEEBFF 2px solid;
    border-right: #DEEBFF 2px solid;
    padding: 0 20px 0 35px;
    font-size: 22px;
    font-weight: 700;
    margin-left: -23px;
    border-radius: 0 55px 55px 0;
}

.headerBot_filter_fiterLogo_logo {
    height: 23px;
    fill: #0065FC;
    transition: transform 400ms ease-in-out;
}

.headerBot_info {
    display: flex;
}

.headerBot_info_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;width: 28px;
    border-radius: 28px;
    border: 2px solid #f2f2f2;
}

.headerBot_info_cont_svg {
    height: 16px;
    fill: #0065FC;
}

.headerBot_info p {
    line-height: 28px;
    white-space: nowrap;
    margin-left: 18px;
}

/* Main start */

main {
    padding: 0 80px;
    margin-top: 50px;
}

.sectionTitle {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
}

.firstSection {
    display: flex;
    justify-content: space-between;
}

.firstSection_result {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #f2f2f2;
    border-radius: 30px;
    width: 65%;
}

.firstSection_result a {
    width: 33%;
}

.firstSection_result_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.firstSection_result_row_1 {
    margin-bottom: 40px;
}

.firstSection_result_row_card {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 25px;
    width: 90%;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.firstSection_result_row_card_img {
    object-fit: cover;
    background-size:cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.firstSection_result_row_card_img--1 {
    background-image: url("../assets/hebergements/2_large/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.firstSection_result_row_card_img--2 {
    background-image: url("../assets/hebergements/2_large/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.firstSection_result_row_card_img--3 {
    background-image: url("../assets/hebergements/2_large/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.firstSection_result_row_card_img--4 {
    background-image: url("../assets/hebergements/2_large/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.firstSection_result_row_card_img--5 {
    background-image: url("../assets/hebergements/2_large/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.firstSection_result_row_card_img--6 {
    background-image: url("../assets/hebergements/2_large/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.firstSection_result_row_card h3 {
    padding-left: 15px;
    margin-top: 15px;
    font-weight: 700;
}

.firstSection_result_row_card p {
    padding-left: 15px;
    margin: 10px 0 12px 0;
    font-size: 18px;
}

.firstSection_result_more {
    font-size: 22px;
    font-weight: 700;
    padding-left: 2%;
    margin-top: 50px ;
    cursor: pointer;
    width: 180px;
    opacity: 1;
    transition: 150ms ease-in-out;
}

.firstSection_result_more:hover {
    opacity: 0.6;
    transition: 150ms ease-in-out;
}

.firstSection_popular {
    display: flex;
    flex-direction: column;
    width: 32%;
    background: #f2f2f2;
    padding: 50px;
    border-radius: 30px;
}

.firstSection_popular a {
    width: 100%;
}

.firstSection_popular_title {
    display: flex;
    justify-content: space-between;
}

.firstSection_popular_title svg {
    height: 30px;
}

.firstSection_popular_cont {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.firstSection_popular_cont_card {
    display: flex;
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.firstSection_popular_cont_card_img {
    object-fit: cover;
    background-size:cover;
    min-width: 38%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
}

.firstSection_popular_cont_card_img--1 {
    background-image: url("../assets/hebergements/2_large/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.firstSection_popular_cont_card_img--2 {
    background-image: url("../assets/hebergements/2_large/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.firstSection_popular_cont_card_img--3 {
    background-image: url("../assets/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.firstSection_popular_cont_card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 26px 5px 26px;
    background: white;
    width: 100%;
}

.firstSection_popular_cont_card_info_text h3 {
    font-weight: 700;   
}

.firstSection_popular_cont_card_info_text p {
    margin: 10px 0 12px 0;
    font-size: 18px;
}

.secondSection {
    border-radius: 30px;
    margin-top: 80px;
}

.secondSection a {
    width: 44%;
}

.secondSection_part1, .secondSection_part2 {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.secondSection_container {
    display: flex;
    justify-content: space-between;
}

.secondSection_container_h3 {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 25px;
    font-weight: 700;
}

.secondSection_container_alone {
    height: 600px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.secondSection_container_alone_img {
    min-height: 525px;
}

.secondSection_container_alone_img--1 {
    background-image: url("../assets/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secondSection_container_alone_img--2 {
    background-image: url("../assets/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secondSection_container_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48%;
}

.secondSection_container_col a {
    width: 100%;
}

.secondSection_container_col_cont {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
    width: 100%;
}

.secondSection_container_col_cont-1 {
    height: 320px;
}

.secondSection_container_col_cont-2 {
    height: 220px;
}

.secondSection_container_col_cont-3 {
    height: 270px;
}

.secondSection_container_col_cont_img-1 {
    background-image: url("../assets/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 245px;
}

.secondSection_container_col_cont_img-2 {
    background-image: url("../assets/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 145px;
}

.secondSection_container_col_cont_img-3 {
    background-image: url("../assets/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 195px;
}

.secondSection_container_col_cont_img-4 {
    background-image: url("../assets/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 195px;
}

/* Footer start */

footer {
    display: flex;
    margin-top: 80px;
    padding: 70px;
    background: #f2f2f2;
}

footer a {
    display: initial;
    width: auto;
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

footer a:hover {
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}

footer p {
    margin-top: 15px;
}

footer h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

footer li {
    line-height: 40px;
}

.footer_col {
    width: 33%;
}

 /* star svg */

.starContainer {
    display: flex;
    margin-bottom: 10px;
    margin-left: 15px;
}

.starContainer--popular {
    display: flex;
    margin: initial;
}

.starContainer_star {
    height: 16px;
    fill: #e0e0e0;
}

.starContainer_star--fill {
    fill: #0065FC;
}


/* -------- MEDIA QUERIES -------- */


/* For tablet */


@media screen and (max-width: 1240px) {
    main, header {
        padding: 0 40px;
    }

    .sectionTitle {
        margin-left: 25px;
    }

    .headerTop img {
        margin-top: 40px ;
    }

    .headerTop ul {
       width: auto;
       margin: initial;
    }

    .headerTop li {
        margin: initial;
    }

    .headerBot_filter_cont {
        flex-direction: column;
    }

    .headerBot_filter_cont_top {
        margin-bottom: 22px;
    }

    /* MAIN START FOR TABLET */

    .firstSection {
        flex-direction: column-reverse;
        margin-top: 80px;
    }

    .firstSection_result {
        width: 100%;
    }

    .firstSection_result_row_card h3, .firstSection_popular_cont_card_info_text h3 {
        font-size: 19px;
    }

    .firstSection_result_row_card_img--1 {
        background-image: url("../assets/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--2 {
        background-image: url("../assets/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--3 {
        background-image: url("../assets/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--4 {
        background-image: url("../assets/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--5 {
        background-image: url("../assets/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--6 {
        background-image: url("../assets/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }

    .firstSection_popular {
        width: 100%;
        margin-bottom: 50px;
    }

    .firstSection_popular_cont {
        flex-direction: row;
    }

    .firstSection_popular_cont_card {
        flex-direction: column;
        width: 90%;
        background: white;
    }

    .firstSection_popular_cont_card_img {
        object-fit: cover;
        background-size:cover;
        width: 100%;
        min-width: initial;
        height: initial;
        min-height: 150px;
    }

    .firstSection_popular_cont_card_img--1 {
        background-image: url("../assets/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }
    
    .firstSection_popular_cont_card_img--2 {
        background-image: url("../assets/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }
    
    .firstSection_popular_cont_card_img--3 {
        background-image: url("../assets/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

    .secondSection_container {
        flex-direction: column;
        width: 100%;
    }

    .secondSection_part1 {
        margin: 5px 0 40px 0;
    }
 
    .secondSection_part1, .secondSection_part2 {
        width: 100%;
        justify-content: space-between;
        padding: 0 50px;
    } 
 
    .secondSection_part1 a, .secondSection_part2 a {
        width: 32%;
    } 

    .secondSection_container_alone {
        height: 400px;
        min-width:  33%;
    }

    .secondSection_container_alone_img {
        min-height: 325px;
    }

    .secondSection_container_alone_img--1 {
        background-image: url("../assets/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }
    
    .secondSection_container_alone_img--2 {
        background-image: url("../assets/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }

    .secondSection_container_col {
        flex-direction: row;
        width: 64%;
    }
    
    .secondSection_container_col_cont {
        height: 400px;
    }
    
    .secondSection_container_col_cont_img {
        min-height: 325px;
    }

    .secondSection_container_col a {
        width: 47%;
    }

    .secondSection_container_col_cont_img-1 {
        background-image: url("../assets/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-2 {
        background-image: url("../assets/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-3 {
        background-image: url("../assets/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-4 {
        background-image: url("../assets/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }

    /* FOOTER TABLET START */

    footer {
        justify-content: space-between;
        padding: 70px 100px 70px 50px;
    }

    footer h2 {
        font-size: 20px;
    }

    footer p {
        font-size: 12px;
    }

    .footer_col {
        width: auto;
    }
}


/* For mobile */

@media screen and (max-width: 768px) {
    #searchInput {
        width: 100%;
    }

    header {
        padding: 0;
    }

    nav {
        width: 100%;
        margin-top: 30px;
    }

    .headerTop {
        flex-direction: column;
        align-items: center;
    }

    .headerTop img {
        height: auto;
        width: 90px;
        margin-top: 20px;
    }

    .headerTop ul {
        width: 100%;
    }

    .headerTop li {
        width: 100%;
        padding: 0 0 15px 0;
        border-bottom: 3px solid #f2f2f2;
        font-size: 16px;
    }

    .headerTop li:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-top: 0;
        padding-bottom: 15px;
    }

    .headerBot {
        padding: 0 20px;
    }

    .headerBot h1 {
        font-size: 22px;
        margin: 37px 0 18px 0;
    }

    .headerBot p {
        font-size: 16px;
    }

    #searchInput {
        font-size: 19px;
    }

    .headerBot_search {
        width: 100%;
        height: 52px;
        margin: 36px 0 20px 0;
        border-radius: 17px 10px 10px 17px;
    }

    .headerBot_search_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        border-radius: 15px;
        margin-left: -22px;
    }

    .headerBot_search_btn_img {
        height: 18px;
        width: 18px;
    }

    .headerBot_search_icon_icon {
        height: 19px;
    }

    .headerBot_search_btn_span {
        display: none;
    }

    .headerBot_search_btn_img {
        display: block;
    }

    .headerBot_filter {
        flex-direction: column;
        margin: 0px 0 18px 0;
    }

    .headerBot_filter_title {
        font-size: 19px;
    }

    .headerBot_filter_cont_filterCont {
        height: 50px;
        margin-right: 12px;
    }

    .headerBot_filter_cont_filterCont_title {
        font-size: 16px;
        line-height: 47px;
    }

    .headerBot_filter_fiterLogo {
        width: 50px;
    }

    .headerBot_filter_fiterLogo_logo {
        height: 18px;
    }

    .headerBot_filter_cont_top {
        width: 100%;
        margin-bottom: 15px;
    }

    .headerBot_filter_cont_bot {
        flex-direction: column;
    }

    .headerBot_filter_cont_bot .headerBot_filter_cont_filterCont {
        margin-bottom: 15px;
    }

    .headerBot_info {
        font-size: 14px;
        width: 100%;
    }

    .headerBot_info p {
        white-space: normal;
        margin-left: 10px;
        line-height: 1.2;
    }

    /* MAIN START FOR MOBILE */

    main {
        padding: 0;
        margin-top: 20px;
    }

    .sectionTitle {
        font-size: 22px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .firstSection {
        margin-top: 40px;
    }
    
    .firstSection_result {
        border-radius: 0;
        padding: 40px 20px 29px 20px;
        background: initial;
    }

    .firstSection_result h2 {
        margin-bottom: 20px;
    }

    .firstSection_result_row {
        flex-direction: column;
        width: 100%;
    }

    .firstSection_result_row_1 {
        margin-bottom: initial;
    }

    .firstSection_result_row a{
        width: 100%;
    }

    .firstSection_result_row_card {
        width: 100%;
        margin-bottom: 15px;
    }

    .firstSection_result_row_card h3{
        font-size:16px;
         line-height: 1.1;
         margin-top: 11px;
    }

    .firstSection_result_row_card p{
        font-size: 14px;
        margin: 7px 0 9px 0;
    }

    .firstSection_result_row_card_img {
        min-height: 115px;
    }

    .firstSection_result_row_card_img--1 {
        background-image: url("../assets/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--2 {
        background-image: url("../assets/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--3 {
        background-image: url("../assets/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--4 {
        background-image: url("../assets/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--5 {
        background-image: url("../assets/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    }
    
    .firstSection_result_row_card_img--6 {
        background-image: url("../assets/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    }

    .firstSection_result_more {
        font-size: 18px;
        margin-top: 20px;
        padding-left: 0;
    }
    
    .firstSection_popular {
        padding: 40px 20px 29px 20px;
        border-radius: 0;
        margin-bottom: 0;
    }
    
    .firstSection_popular_title svg {
        height: 24px;
    }

    .firstSection_popular_cont {
        flex-direction: column;
    }
    
    .firstSection_popular_cont_card {
        width: 100%;
        flex-direction: row;
        height: 146px;
        margin-bottom: 11px;
    }

    .firstSection_popular_cont_card_img {
        width: auto;
        min-width: 38%;
        min-height: initial;
    }

    .firstSection_popular_cont_card_img--1 {
        background-image: url("../assets/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    }
    
    .firstSection_popular_cont_card_img--2 {
        background-image: url("../assets/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    }
    
    .firstSection_popular_cont_card_img--3 {
        background-image: url("../assets/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    }

    .firstSection_popular_cont_card_info {
        padding: 12px 22px 10px 22px;
    }

    .firstSection_popular_cont_card_info_text h3 {
         font-size:16px;
         line-height: 1.1;
    }

    .firstSection_popular_cont_card_info_text p {
        font-size: 14px;
    }

    .secondSection {
        padding: 28px 20px 29px 20px;
        margin-top: 0;
    }
    
    .secondSection a {
        width: 100%;
    }

    .secondSection_part1 {
        margin: 5px 0 0 0;
    }

    .secondSection_part1, .secondSection_part2 {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .secondSection_part1 a, .secondSection_part2 a {
        width: 100%;
    }
    
     .secondSection_container_h3 {
        font-size: 16px;
        height: 57px;
    }

    .secondSection_container_alone, .secondSection_container_col_cont {
        height: 192px;
        width: 100%;
        margin-bottom: 20px;
        border-radius: 25px;
    }
    
    .secondSection_container_alone_img, .secondSection_container_col_cont_img {
        min-height: 135px;
    }


    .secondSection_container_alone_img--1 {
        background-image: url("../assets/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    }
    
    .secondSection_container_alone_img--2 {
        background-image: url("../assets/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    }

    .secondSection_container_col {
        flex-direction: column;
        width: 100%;
    }

    .secondSection_container_col_cont_img-1 {
        background-image: url("../assets/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-2 {
        background-image: url("../assets/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-3 {
        background-image: url("../assets/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    }
    
    .secondSection_container_col_cont_img-4 {
        background-image: url("../assets/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    }

    /* FOOTER START FOR MOBILE */

    footer {
        margin-top: 5px;
        flex-direction: column;
        padding: 50px 30px 0 30px;
    }

    footer h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    footer li {
        font-size: 16px;
        line-height: 35px;
    }

    .footer_col {
        width: 100%;
        margin-bottom: 37px;
    }

    /* STAR SVG FOR MOBILE */

    .starContainer_star {
        height: 11px;
    }
}