@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import "./reset.css";

*,::before,::after {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

a {
    display: flex;
    justify-content: center;
    color: initial;
    text-decoration: none;
}

/* Header start */

header {
    padding: 0 80px;
}

.headerTop {
    display: flex;
    justify-content: space-between;
}

.headerTop img {
    height: 55px;
    margin : 50px 0 0 15px
}

.headerTop ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 30px;
}

.headerTop li {
    margin-left: 50px;
    cursor: pointer;
    height: 100%;
    padding: 60px 30px 0 30px;
}

.headerTop li:hover {
    border-top: 2px solid #0065FC;
    padding-top: 58px;
}

.headerTop li:hover a {
    color: #0065FC;    
}

.headerBot h1 {
    font-weight: 800;
    font-size:26px;
    margin: 50px 0 16px 0;
}

.headerBot_search {
    display: flex;
    margin: 30px 0 20px 0;
    height: 65px;
    border-radius: 17px;
    overflow: hidden;
}

.headerBot_search_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px;
    background: #f2f2f2;
}

.headerBot_search_icon_icon {
    height: 22px;
}

#searchInput {
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    border-left: initial;
    border-right: initial;
    width: 320px;
    color: black;
    font-size: 24px;
    font-weight: 600;
    padding-left: 18px;
}

#searchInput::placeholder {
    color: black;
    
}

.headerBot_search_btn {
    background: #0065FC;
    border: initial;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 0 23px;
    border-radius: 0 17px 17px 0;
    cursor: pointer;
}

.headerBot_filter {
    display: flex;
    margin: 40px 0 55px 0;
}

.headerBot_filter_title {
    font-size: 22px;
    font-weight: 700;
    line-height: 55px;
    white-space: nowrap;
    margin-right: 45px;
}

.headerBot_filter_cont {
    display: flex;
    height: 55px;
    margin-right: 30px;
    cursor: pointer;
}

.headerBot_filter_cont:hover .headerBot_filter_fiterLogo_logo {
    transform: scale(1.4) rotate(10deg);
    transition: transform 400ms ease-in-out;
}

.headerBot_filter_fiterLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
    border-radius: 55px;
    width: 55px;
}

.headerBot_filter_cont h2 {
    line-height: 55px;
    white-space: nowrap;
    border-top: #DEEBFF 2px solid;
    border-bottom: #DEEBFF 2px solid;
    border-right: #DEEBFF 2px solid;
    padding: 0 20px 0 35px;
    font-size: 22px;
    font-weight: 700;
    margin-left: -22px;
    border-radius: 0 55px 55px 0;
}

.headerBot_filter_fiterLogo_logo {
    height: 23px;
    fill: #0065FC;
    transition: transform 400ms ease-in-out;
}

.headerBot_info {
    display: flex;
}

.headerBot_info_cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;width: 28px;
    border-radius: 28px;
    border: 2px solid #f2f2f2;
}

.headerBot_info_cont_svg {
    height: 16px;
    fill: #0065FC;
}

.headerBot_info p {
    line-height: 28px;
    white-space: nowrap;
    margin-left: 18px;
}

/* Main start */

main {
    padding: 0 80px;
    margin-top: 50px;
}

.sectionTitle {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 25px;
}

.firstSection {
    display: flex;
    justify-content: space-between;
}

.firstSection_result {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #f2f2f2;
    border-radius: 30px;
    width: 65%;
}

.firstSection_result a {
    width: 33%;
}

.firstSection_result_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.firstSection_result_row_1 {
    margin-bottom: 40px;
}

.firstSection_result_row_card {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 25px;
    width: 90%;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.firstSection_result_row_card_img {
    object-fit: cover;
    background-size:cover;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 150px;
}

.firstSection_result_row_card_img--1 {
    background-image: url("../assets/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.firstSection_result_row_card_img--2 {
    background-image: url("../assets/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.firstSection_result_row_card_img--3 {
    background-image: url("../assets/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.firstSection_result_row_card_img--4 {
    background-image: url("../assets/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.firstSection_result_row_card_img--5 {
    background-image: url("../assets/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.firstSection_result_row_card_img--6 {
    background-image: url("../assets/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.firstSection_result_row_card h3 {
    padding-left: 15px;
    margin-top: 15px;
    font-weight: 700;
}

.firstSection_result_row_card p {
    padding-left: 15px;
    margin: 10px 0 12px 0;
    font-size: 18px;
}

.firstSection_result_more {
    font-size: 22px;
    font-weight: 700;
    padding-left: 2%;
    margin-top: 50px ;
}

.firstSection_popular {
    display: flex;
    flex-direction: column;
    width: 32%;
    background: #f2f2f2;
    padding: 50px;
    border-radius: 30px;
}

.firstSection_popular a {
    width: 100%;
}

.firstSection_popular_title {
    display: flex;
    justify-content: space-between;
}

.firstSection_popular_title svg {
    height: 30px;
}

.firstSection_popular_cont {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.firstSection_popular_cont_card {
    display: flex;
    width: 100%;
    border: 5px solid white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.firstSection_popular_cont_card_img {
    object-fit: cover;
    background-size:cover;
    min-width: 38%;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
}

.firstSection_popular_cont_card_img--1 {
    background-image: url("../assets/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.firstSection_popular_cont_card_img--2 {
    background-image: url("../assets/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.firstSection_popular_cont_card_img--3 {
    background-image: url("../assets/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.firstSection_popular_cont_card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 26px 5px 26px;
    background: white;
    width: 100%;
}

.firstSection_popular_cont_card_info_text h3 {
    font-weight: 700;   
}

.firstSection_popular_cont_card_info_text p {
    margin: 10px 0 12px 0;
    font-size: 18px;
}

.secondSection {
    border-radius: 30px;
    margin-top: 80px;
}

.secondSection a {
    width: 22%;
}

.secondSection_container {
    display: flex;
    justify-content: space-between;
}

.secondSection_container_h3 {
    display: flex;
    align-items: center;
    height: 75px;
    padding-left: 25px;
    font-weight: 700;
}

.secondSection_container_alone {
    height: 600px;
    width: 100%;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
}

.secondSection_container_alone_img {
    min-height: 525px;
}

.secondSection_container_alone_img--1 {
    background-image: url("../assets/activites/2_large/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secondSection_container_alone_img--2 {
    background-image: url("../assets/activites/2_large/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secondSection_container_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
}

.secondSection_container_col a {
    width: 100%;
}

.secondSection_container_col_cont {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.171);
    width: 100%;
}

.secondSection_container_col_cont-1 {
height: 320px;
}

.secondSection_container_col_cont-2 {
height: 220px;
}

.secondSection_container_col_cont-3 {
    height: 270px;
}

.secondSection_container_col_cont_img-1 {
    background-image: url("../assets/activites/2_large/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 245px;
}

.secondSection_container_col_cont_img-2 {
    background-image: url("../assets/activites/2_large/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 145px;
}

.secondSection_container_col_cont_img-3 {
    background-image: url("../assets/activites/2_large/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 195px;
}

.secondSection_container_col_cont_img-4 {
    background-image: url("../assets/activites/2_large/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 195px;
}

/* Footer start */

footer {
    display: flex;
    margin-top: 80px;
    padding: 70px;
    background: #f2f2f2;
}

footer a {
    display: initial;
    width: auto;
}

footer p {
    margin-top: 15px;
}

footer h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

footer li {
    line-height: 40px;
}

.footer_col {
    width: 33%;
}

 /* star svg */

.starContainer {
    display: flex;
    margin-bottom: 10px;
    margin-left: 15px;
}

.starContainer--popular {
    display: flex;
    margin: initial;
}

.starContainer_star {
    height: 16px;
    fill: red;
}

.starContainer_star--fill {
    fill: #0065FC;
}


